In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.datasets.samples_generator import make_blobs
from datetime import datetime
from sklearn import metrics
import catboost
from catboost import CatBoostRegressor
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function

In [2]:
Home_2019 = pd.read_csv('./data/Home_stats_18-19.csv')

Away_2019 = pd.read_csv('./data/Away_stats_18-19.csv')

In [3]:
Home_2019.head()

,Team,Season,GP,TOI,CF,CA,C+/-,CF%,CF/60,CA/60,...,xG+/-,xGF%,xGF/60,xGA/60,PENT,PEND,P+/-,Sh%,Sv%,PDO
0,ANA,2018-2019,38,2333.05,2117,2386,-269,47.01,54.44,61.36,...,-29.35,43.96,2.75,3.50,154,126,-28,9.07,91.13,100.20
1,ARI,2018-2019,39,2360.02,2335,2360,-25,49.73,59.36,60.00,...,4.22,50.97,2.83,2.72,138,152,14,8.77,92.24,101.01
2,BOS,2018-2019,40,2431.50,2384,2014,370,54.21,58.83,49.70,...,11.04,52.76,2.60,2.33,156,176,20,10.28,91.74,102.02
3,BUF,2018-2019,39,2382.85,2180,2169,11,50.13,54.89,54.62,...,0.53,50.13,2.64,2.62,119,131,12,8.70,90.33,99.03
4,CAR,2018-2019,39,2363.23,2640,2115,525,55.52,67.03,53.70,...,44.16,58.08,4.03,2.91,135,139,4,8.94,90.53,99.46

In [4]:
Away_2019.head()

,Team,Season,GP,TOI,CF,CA,C+/-,CF%,CF/60,CA/60,...,xG+/-,xGF%,xGF/60,xGA/60,PENT,PEND,P+/-,Sh%,Sv%,PDO
0,ANA,2018-2019,41,2472.38,2094,2488,-394,45.70,50.82,60.38,...,-35.63,41.52,2.12,2.98,155,128,-27,8.14,90.38,98.52
1,ARI,2018-2019,39,2380.33,2152,2278,-126,48.58,54.24,57.42,...,-10.86,47.51,2.61,2.89,129,137,8,8.21,90.31,98.53
2,BOS,2018-2019,39,2372.03,2299,2212,87,50.96,58.15,55.95,...,-3.49,49.24,2.84,2.93,157,147,-10,8.63,90.80,99.44
3,BUF,2018-2019,40,2431.50,2316,2334,-18,49.81,57.15,57.59,...,-22.10,45.28,2.62,3.16,134,140,6,7.27,89.70,96.98
4,CAR,2018-2019,39,2351.43,2447,2011,436,54.89,62.44,51.31,...,21.63,54.67,3.23,2.68,142,152,10,8.15,90.12,98.27

In [5]:
Team_stats_2019 = pd.read_csv('./data/All_stats_2019.csv')

In [6]:
All_lines_2019 = pd.read_csv('./data/All_lines_2019.csv')

In [7]:
All_lines_2019.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Season,Team,GP,TOI,CF,CA,C+/-,...,xGF,xGA,xG+/-,xGF%,Rel xGF%,PENT,PEND,P+/-,PDO,ZSR
0,ADAM.ERNE,CEDRIC.PAQUETTE,MATHIEU.JOSEPH,2018-2019,T.B,28,113.37,89,90,-1,...,2.94,3.15,-0.21,48.28,-3.89,16,14,-2,100.22,48.48
1,ADAM.ERNE,CEDRIC.PAQUETTE,RYAN.CALLAHAN,2018-2019,T.B,27,195.90,151,165,-14,...,5.47,5.94,-0.47,47.94,-2.55,16,7,-9,101.87,42.37
2,ADAM.HENRIQUE,DANIEL.SPRONG,NICK.RITCHIE,2018-2019,ANA,30,156.73,136,148,-12,...,5.91,6.38,-0.47,48.09,4.42,10,5,-5,98.94,59.57
3,ADAM.HENRIQUE,JAKOB.SILFVERBERG,MAX.COMTOIS,2018-2019,ANA,6,51.37,41,61,-20,...,1.85,2.45,-0.60,43.02,7.00,2,1,-1,119.50,43.24
4,ADAM.HENRIQUE,MAX.JONES,TROY.TERRY,2018-2019,ANA,13,57.92,58,46,12,...,2.35,1.61,0.74,59.34,15.51,2,3,1,107.41,74.19

In [8]:
Nash_lines = All_lines_2019.query('Team == "NSH"')

In [9]:
All_lines_2019.TOI.sort_values(ascending=False);

In [10]:
All_lines_2019.PDO.sort_values(ascending=False);

In [11]:
Team_stats_2019.head()

,Team,Season,GP,TOI,CF,CA,C+/-,CF%,CF/60,CA/60,...,xG+/-,xGF%,xGF/60,xGA/60,PENT,PEND,P+/-,Sh%,Sv%,PDO
0,ANA,2018-2019,79,3828.40,3441,3818,-377,47.40,53.93,59.84,...,-31.95,44.75,2.13,2.63,231,199,-32,7.37,92.52,99.89
1,ARI,2018-2019,78,3743.12,3525,3700,-175,48.79,56.50,59.31,...,-3.61,49.38,2.29,2.35,203,233,30,6.70,92.12,98.82
2,BOS,2018-2019,79,3839.57,3729,3303,426,53.03,58.27,51.62,...,11.03,51.97,2.27,2.10,250,253,3,7.07,93.03,100.10
3,BUF,2018-2019,79,3878.68,3587,3642,-55,49.62,55.49,56.34,...,-17.13,47.13,2.17,2.44,200,217,17,7.00,91.50,98.50
4,CAR,2018-2019,78,3768.42,4045,3332,713,54.83,64.40,53.05,...,44.00,56.40,3.09,2.39,212,220,8,7.10,91.85,98.94

In [12]:
All_results_2019 = pd.read_csv('./data/All_game_results_2019.csv')

In [13]:
All_results_2019.head(10)

,Date,Visitor,G,Home,G.1,Unnamed: 5,Att.,LOG,Notes
0,2018-10-03,Anaheim Ducks,5.0,San Jose Sharks,2.0,NaN,17562.0,2:25,NaN
1,2018-10-03,Montreal Canadiens,2.0,Toronto Maple Leafs,3.0,OT,19589.0,2:37,NaN
2,2018-10-03,Calgary Flames,2.0,Vancouver Canucks,5.0,NaN,18870.0,2:31,NaN
3,2018-10-03,Boston Bruins,0.0,Washington Capitals,7.0,NaN,18506.0,2:30,NaN
4,2018-10-04,Boston Bruins,4.0,Buffalo Sabres,0.0,NaN,19070.0,2:35,NaN
5,2018-10-04,New York Islanders,2.0,Carolina Hurricanes,1.0,OT,18680.0,2:34,NaN
6,2018-10-04,Minnesota Wild,1.0,Colorado Avalanche,4.0,NaN,18086.0,2:37,NaN
7,2018-10-04,Arizona Coyotes,0.0,Dallas Stars,3.0,NaN,18532.0,2:34,NaN
8,2018-10-04,Columbus Blue Jackets,3.0,Detroit Red Wings,2.0,OT,19515.0,2:43,NaN
9,2018-10-04,Nashville Predators,3.0,New York Rangers,2.0,NaN,17117.0,2:31,NaN

In [14]:
All_results_2019.drop(columns=['Notes'],inplace=True)

In [15]:
All_results_2019.head()

,Date,Visitor,G,Home,G.1,Unnamed: 5,Att.,LOG
0,2018-10-03,Anaheim Ducks,5.0,San Jose Sharks,2.0,NaN,17562.0,2:25
1,2018-10-03,Montreal Canadiens,2.0,Toronto Maple Leafs,3.0,OT,19589.0,2:37
2,2018-10-03,Calgary Flames,2.0,Vancouver Canucks,5.0,NaN,18870.0,2:31
3,2018-10-03,Boston Bruins,0.0,Washington Capitals,7.0,NaN,18506.0,2:30
4,2018-10-04,Boston Bruins,4.0,Buffalo Sabres,0.0,NaN,19070.0,2:35

In [16]:
All_results_2019['Away_Win'] = All_results_2019.G > All_results_2019['G.1']

In [17]:
All_results_2019.head()

,Date,Visitor,G,Home,G.1,Unnamed: 5,Att.,LOG,Away_Win
0,2018-10-03,Anaheim Ducks,5.0,San Jose Sharks,2.0,NaN,17562.0,2:25,True
1,2018-10-03,Montreal Canadiens,2.0,Toronto Maple Leafs,3.0,OT,19589.0,2:37,False
2,2018-10-03,Calgary Flames,2.0,Vancouver Canucks,5.0,NaN,18870.0,2:31,False
3,2018-10-03,Boston Bruins,0.0,Washington Capitals,7.0,NaN,18506.0,2:30,False
4,2018-10-04,Boston Bruins,4.0,Buffalo Sabres,0.0,NaN,19070.0,2:35,True

In [18]:
All_results_2019['Home_Win'] = All_results_2019.G < All_results_2019['G.1']

In [19]:
All_results_2019.head()

,Date,Visitor,G,Home,G.1,Unnamed: 5,Att.,LOG,Away_Win,Home_Win
0,2018-10-03,Anaheim Ducks,5.0,San Jose Sharks,2.0,NaN,17562.0,2:25,True,False
1,2018-10-03,Montreal Canadiens,2.0,Toronto Maple Leafs,3.0,OT,19589.0,2:37,False,True
2,2018-10-03,Calgary Flames,2.0,Vancouver Canucks,5.0,NaN,18870.0,2:31,False,True
3,2018-10-03,Boston Bruins,0.0,Washington Capitals,7.0,NaN,18506.0,2:30,False,True
4,2018-10-04,Boston Bruins,4.0,Buffalo Sabres,0.0,NaN,19070.0,2:35,True,False

In [20]:
def home_winner (row):
    if row['Home_Win'] == True:
        return 1
    if row['Away_Win'] == True:
        return 0

In [21]:
def away_winner (row):
    if row['Home_Win'] == True:
        return 0
    if row['Away_Win'] == True:
        return 1

In [22]:
All_results_2019.apply (lambda row: home_winner(row), axis=1);

In [23]:
All_results_2019['Home_Win'] = All_results_2019.apply (lambda row: home_winner(row), axis=1)

In [24]:
All_results_2019['Away_Win'] = All_results_2019.apply (lambda row: away_winner(row), axis=1)

In [25]:
All_results_2019.rename(columns = {'G':'Away_Goals','G.1':'Home_Goals','Unnamed: 5':'OT_Yes','Att.':'Attendance'},inplace=True)

In [26]:
All_results_2019.describe()

        Away_Goals   Home_Goals    Attendance     Away_Win     Home_Win
count  1220.000000  1220.000000   1220.000000  1220.000000  1220.000000
mean      2.861475     3.172131  17434.127049     0.463115     0.536885
std       1.682216     1.801889   3244.584029     0.498842     0.498842
min       0.000000     0.000000   8790.000000     0.000000     0.000000
25%       2.000000     2.000000  16514.000000     0.000000     0.000000
50%       3.000000     3.000000  17933.000000     0.000000     1.000000
75%       4.000000     4.000000  18668.000000     1.000000     1.000000
max       9.000000     9.000000  76126.000000     1.000000     1.000000

In [27]:
Counter(All_results_2019.Home_Win);

In [28]:
def OT_winner (row):
    if row['OT_Yes'] == 'OT':
        return 1
    if row['OT_Yes'] == 'SO':
        return 2
    else:
        return 0

In [29]:
All_results_2019['OT_Yes'] = All_results_2019.apply (lambda row: OT_winner(row), axis=1)

In [30]:
All_results_2019 =All_results_2019.dropna(subset=['Home_Win','Away_Win'])

In [31]:
All_results_2019.head()

,Date,Visitor,Away_Goals,Home,Home_Goals,OT_Yes,Attendance,LOG,Away_Win,Home_Win
0,2018-10-03,Anaheim Ducks,5.0,San Jose Sharks,2.0,0,17562.0,2:25,1.0,0.0
1,2018-10-03,Montreal Canadiens,2.0,Toronto Maple Leafs,3.0,1,19589.0,2:37,0.0,1.0
2,2018-10-03,Calgary Flames,2.0,Vancouver Canucks,5.0,0,18870.0,2:31,0.0,1.0
3,2018-10-03,Boston Bruins,0.0,Washington Capitals,7.0,0,18506.0,2:30,0.0,1.0
4,2018-10-04,Boston Bruins,4.0,Buffalo Sabres,0.0,0,19070.0,2:35,1.0,0.0

In [32]:
All_results_2019.describe()

,Away_Goals,Home_Goals,OT_Yes,Attendance,Away_Win,Home_Win
count,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000,1220.000000
mean,2.861475,3.172131,0.280328,17434.127049,0.463115,0.536885
std,1.682216,1.801889,0.578624,3244.584029,0.498842,0.498842
min,0.000000,0.000000,0.000000,8790.000000,0.000000,0.000000
25%,2.000000,2.000000,0.000000,16514.000000,0.000000,0.000000
50%,3.000000,3.000000,0.000000,17933.000000,0.000000,1.000000
75%,4.000000,4.000000,0.000000,18668.000000,1.000000,1.000000
max,9.000000,9.000000,2.000000,76126.000000,1.000000,1.000000

In [33]:
Nashville_home_2019 = All_results_2019.query('Home == "Nashville Predators"')

In [34]:
Nashville_home_2019['Attendance'].mean()

17433.666666666668

In [35]:
All_results_2019.head()

,Date,Visitor,Away_Goals,Home,Home_Goals,OT_Yes,Attendance,LOG,Away_Win,Home_Win
0,2018-10-03,Anaheim Ducks,5.0,San Jose Sharks,2.0,0,17562.0,2:25,1.0,0.0
1,2018-10-03,Montreal Canadiens,2.0,Toronto Maple Leafs,3.0,1,19589.0,2:37,0.0,1.0
2,2018-10-03,Calgary Flames,2.0,Vancouver Canucks,5.0,0,18870.0,2:31,0.0,1.0
3,2018-10-03,Boston Bruins,0.0,Washington Capitals,7.0,0,18506.0,2:30,0.0,1.0
4,2018-10-04,Boston Bruins,4.0,Buffalo Sabres,0.0,0,19070.0,2:35,1.0,0.0

In [36]:
Overtime = All_results_2019.query('OT_Yes == 1')

Shootout = All_results_2019.query('OT_Yes == 2')

In [37]:
Counter(Shootout.Date).most_common();

In [38]:
Counter(All_results_2019.LOG).most_common();

In [39]:
All_results_2019['Attendance'].min()

8790.0

In [40]:
All_results_2019.query('Attendance == 8790.0')

,Date,Visitor,Away_Goals,Home,Home_Goals,OT_Yes,Attendance,LOG,Away_Win,Home_Win
34,2018-10-08,San Jose Sharks,0.0,New York Islanders,4.0,0,8790.0,2:26,0.0,1.0

In [41]:
Islanders_suck = All_results_2019.query('Home == "New York Islanders"')

In [42]:
All_results_2019['Total_games'] = All_results_2019.Away_Win + All_results_2019.Home_Win

In [43]:
Home_win_total = All_results_2019.groupby(['Home']).sum()

In [44]:
All_results_2019.head()

,Date,Visitor,Away_Goals,Home,Home_Goals,OT_Yes,Attendance,LOG,Away_Win,Home_Win,Total_games
0,2018-10-03,Anaheim Ducks,5.0,San Jose Sharks,2.0,0,17562.0,2:25,1.0,0.0,1.0
1,2018-10-03,Montreal Canadiens,2.0,Toronto Maple Leafs,3.0,1,19589.0,2:37,0.0,1.0,1.0
2,2018-10-03,Calgary Flames,2.0,Vancouver Canucks,5.0,0,18870.0,2:31,0.0,1.0,1.0
3,2018-10-03,Boston Bruins,0.0,Washington Capitals,7.0,0,18506.0,2:30,0.0,1.0,1.0
4,2018-10-04,Boston Bruins,4.0,Buffalo Sabres,0.0,0,19070.0,2:35,1.0,0.0,1.0

In [45]:
Home_win_total['Average_Attendance'] = Home_win_total.Attendance / Home_win_total.Total_games

In [46]:
Home_win_total = Home_win_total.drop(columns=['OT_Yes']).reset_index()

In [47]:
Home_win_total

,Home,Away_Goals,Home_Goals,Attendance,Away_Win,Home_Win,Total_games,Average_Attendance
0,Anaheim Ducks,115.0,102.0,654905.0,22.0,17.0,39.0,16792.435897
1,Arizona Coyotes,94.0,108.0,541740.0,19.0,20.0,39.0,13890.769231
2,Boston Bruins,95.0,138.0,702600.0,11.0,29.0,40.0,17565.000000
3,Buffalo Sabres,124.0,115.0,699681.0,19.0,20.0,39.0,17940.538462
4,Calgary Flames,124.0,165.0,739261.0,14.0,26.0,40.0,18481.525000
5,Carolina Hurricanes,107.0,125.0,569577.0,17.0,23.0,40.0,14239.425000
6,Chicago Blackhawks,131.0,128.0,867676.0,21.0,17.0,38.0,22833.578947
7,Colorado Avalanche,111.0,121.0,667422.0,20.0,19.0,39.0,17113.384615
8,Columbus Blue Jackets,119.0,131.0,664094.0,18.0,22.0,40.0,16602.350000
9,Dallas Stars,91.0,108.0,708250.0,17.0,22.0,39.0,18160.256410
10,Detroit Red Wings,122.0,113.0,744928.0,23.0,16.0,39.0,19100.717949
11,Edmonton Oilers,130.0,122.0,733880.0,22.0,18.0,40.0,18347.000000
12,Florida Panthers,113.0,130.0,500324.0,19.0,19.0,38.0,13166.421053
13,Los Angeles Kings,121.0,103.0,701682.0,23.0,16.0,39.0,17991.846154
14,Minnesota Wild,115.0,100.0,737552.0,24.0,15.0,39.0,18911.589744
15,Montreal Canadiens,103.0,126.0,820310.0,16.0,23.0,39.0,21033.589744
16,Nashville Predators,97.0,113.0,679913.0,16.0,23.0,39.0,17433.666667
17,New Jersey Devils,112.0,114.0,593434.0,21.0,19.0,40.0,14835.850000
18,New York Islanders,94.0,117.0,496233.0,16.0,24.0,40.0,12405.825000
19,New York Rangers,110.0,113.0,676171.0,21.0,18.0,39.0,17337.717949
20,Ottawa Senators,114.0,121.0,564631.0,21.0,18.0,39.0,14477.717949
21,Philadelphia Flyers,131.0,118.0,815809.0,21.0,19.0,40.0,20395.225000
22,Pittsburgh Penguins,120.0,128.0,723969.0,17.0,22.0,39.0,18563.307692
23,San Jose Sharks,117.0,143.0,690347.0,16.0,24.0,40.0,17258.675000
24,St. Louis Blues,116.0,123.0,657883.0,17.0,21.0,38.0,17312.710526
25,Tampa Bay Lightning,103.0,168.0,782772.0,9.0,32.0,41.0,19092.000000
26,Toronto Maple Leafs,116.0,144.0,751819.0,16.0,23.0,39.0,19277.410256
27,Vancouver Canucks,124.0,118.0,720394.0,21.0,19.0,40.0,18009.850000
28,Vegas Golden Knights,96.0,128.0,714215.0,16.0,23.0,39.0,18313.205128
29,Washington Capitals,108.0,136.0,721833.0,16.0,23.0,39.0,18508.538462
30,Winnipeg Jets,118.0,151.0,626330.0,16.0,25.0,41.0,15276.341463

In [48]:
merged_teams = pd.concat([Home_win_total, Home_2019], axis=1, sort=False)

In [49]:
merged_teams = merged_teams.drop(columns=['Team','Season','GP'])

In [50]:
merged_teams.dtypes;

In [51]:
merged_teams = merged_teams.rename(columns={'Home':'Team_Name'})

In [52]:
merged_teams['Team_Name'] = merged_teams.Team_Name.astype('str')

In [53]:
merged_teams['Team_Name'] = merged_teams['Team_Name'].str.replace(' ', '_',3)

In [54]:
merged_teams.head()

,Team_Name,Away_Goals,Home_Goals,Attendance,Away_Win,Home_Win,Total_games,Average_Attendance,TOI,CF,...,xG+/-,xGF%,xGF/60,xGA/60,PENT,PEND,P+/-,Sh%,Sv%,PDO
0,Anaheim_Ducks,115.0,102.0,654905.0,22.0,17.0,39.0,16792.435897,2333.05,2117,...,-29.35,43.96,2.75,3.50,154,126,-28,9.07,91.13,100.20
1,Arizona_Coyotes,94.0,108.0,541740.0,19.0,20.0,39.0,13890.769231,2360.02,2335,...,4.22,50.97,2.83,2.72,138,152,14,8.77,92.24,101.01
2,Boston_Bruins,95.0,138.0,702600.0,11.0,29.0,40.0,17565.000000,2431.50,2384,...,11.04,52.76,2.60,2.33,156,176,20,10.28,91.74,102.02
3,Buffalo_Sabres,124.0,115.0,699681.0,19.0,20.0,39.0,17940.538462,2382.85,2180,...,0.53,50.13,2.64,2.62,119,131,12,8.70,90.33,99.03
4,Calgary_Flames,124.0,165.0,739261.0,14.0,26.0,40.0,18481.525000,2363.23,2640,...,44.16,58.08,4.03,2.91,135,139,4,8.94,90.53,99.46

In [55]:
team_names_dropped = merged_teams.drop(columns=['Team_Name'])

In [56]:
team_names_dropped;

In [57]:
X = team_names_dropped.loc[:, team_names_dropped.columns != 'Home_Win']

y = team_names_dropped.Home_Win # Target variable

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [69]:
clf = DecisionTreeClassifier(max_depth=5)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [70]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.0

In [71]:
team_names_dropped;

In [72]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(criterion='entropy',n_estimators=1024)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [73]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.1